body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

view,
image,
text {
  box-sizing: border-box;
  flex-shrink: 0;
  color: #333;
}

#app {
  width: 100vw;
  height: 100vh;
}

.code-fun-flex-row {
  display: flex;
  flex-direction: row;
}

.code-fun-flex-col {
  display: flex;
  flex-direction: column;
}

.code-fun-justify-start {
  justify-content: flex-start;
}

.code-fun-justify-end {
  justify-content: flex-end;
}

.code-fun-justify-center {
  justify-content: center;
}

.code-fun-justify-between {
  justify-content: space-between;
}

.code-fun-justify-around {
  justify-content: space-around;
}

.code-fun-justify-evenly {
  justify-content: space-evenly;
}

.code-fun-items-start {
  align-items: flex-start;
}

.code-fun-items-end {
  align-items: flex-end;
}

.code-fun-items-center {
  align-items: center;
}

.code-fun-items-baseline {
  align-items: baseline;
}

.code-fun-items-stretch {
  align-items: stretch;
}

.code-fun-self-start {
  align-self: flex-start;
}

.code-fun-self-end {
  align-self: flex-end;
}

.code-fun-self-center {
  align-self: center;
}

.code-fun-self-baseline {
  align-self: baseline;
}

.code-fun-self-stretch {
  align-self: stretch;
}

.code-fun-flex-1 {
  flex: 1 1 0%;
}

.code-fun-flex-auto {
  flex: 1 1 auto;
}

.code-fun-grow {
  flex-grow: 1;
}

.code-fun-grow-0 {
  flex-grow: 0;
}

.code-fun-shrink {
  flex-shrink: 1;
}

.code-fun-shrink-0 {
  flex-shrink: 0;
}

.code-fun-relative {
  position: relative;
}

.code-fun-ml-2 {
  margin-left: 4rpx;
}

.code-fun-mt-2 {
  margin-top: 4rpx;
}

.code-fun-ml-4 {
  margin-left: 8rpx;
}

.code-fun-mt-4 {
  margin-top: 8rpx;
}

.code-fun-ml-6 {
  margin-left: 12rpx;
}

.code-fun-mt-6 {
  margin-top: 12rpx;
}

.code-fun-ml-8 {
  margin-left: 16rpx;
}

.code-fun-mt-8 {
  margin-top: 16rpx;
}

.code-fun-ml-10 {
  margin-left: 20rpx;
}

.code-fun-mt-10 {
  margin-top: 20rpx;
}

.code-fun-ml-12 {
  margin-left: 24rpx;
}

.code-fun-mt-12 {
  margin-top: 24rpx;
}

.code-fun-ml-14 {
  margin-left: 28rpx;
}

.code-fun-mt-14 {
  margin-top: 28rpx;
}

.code-fun-ml-16 {
  margin-left: 32rpx;
}

.code-fun-mt-16 {
  margin-top: 32rpx;
}

.code-fun-ml-18 {
  margin-left: 36rpx;
}

.code-fun-mt-18 {
  margin-top: 36rpx;
}

.code-fun-ml-20 {
  margin-left: 40rpx;
}

.code-fun-mt-20 {
  margin-top: 40rpx;
}

.code-fun-ml-22 {
  margin-left: 44rpx;
}

.code-fun-mt-22 {
  margin-top: 44rpx;
}

.code-fun-ml-24 {
  margin-left: 48rpx;
}

.code-fun-mt-24 {
  margin-top: 48rpx;
}

.code-fun-ml-26 {
  margin-left: 52rpx;
}

.code-fun-mt-26 {
  margin-top: 52rpx;
}

.code-fun-ml-28 {
  margin-left: 56rpx;
}

.code-fun-mt-28 {
  margin-top: 56rpx;
}

.code-fun-ml-30 {
  margin-left: 60rpx;
}

.code-fun-mt-30 {
  margin-top: 60rpx;
}

.code-fun-ml-32 {
  margin-left: 64rpx;
}

.code-fun-mt-32 {
  margin-top: 64rpx;
}

.code-fun-ml-34 {
  margin-left: 68rpx;
}

.code-fun-mt-34 {
  margin-top: 68rpx;
}

.code-fun-ml-36 {
  margin-left: 72rpx;
}

.code-fun-mt-36 {
  margin-top: 72rpx;
}

.code-fun-ml-38 {
  margin-left: 76rpx;
}

.code-fun-mt-38 {
  margin-top: 76rpx;
}

.code-fun-ml-40 {
  margin-left: 80rpx;
}

.code-fun-mt-40 {
  margin-top: 80rpx;
}

.code-fun-ml-42 {
  margin-left: 84rpx;
}

.code-fun-mt-42 {
  margin-top: 84rpx;
}

.code-fun-ml-44 {
  margin-left: 88rpx;
}

.code-fun-mt-44 {
  margin-top: 88rpx;
}

.code-fun-ml-46 {
  margin-left: 92rpx;
}

.code-fun-mt-46 {
  margin-top: 92rpx;
}

.code-fun-ml-48 {
  margin-left: 96rpx;
}

.code-fun-mt-48 {
  margin-top: 96rpx;
}

.code-fun-ml-50 {
  margin-left: 100rpx;
}

.code-fun-mt-50 {
  margin-top: 100rpx;
}

.code-fun-ml-52 {
  margin-left: 104rpx;
}

.code-fun-mt-52 {
  margin-top: 104rpx;
}

.code-fun-ml-54 {
  margin-left: 108rpx;
}

.code-fun-mt-54 {
  margin-top: 108rpx;
}

.code-fun-ml-56 {
  margin-left: 112rpx;
}

.code-fun-mt-56 {
  margin-top: 112rpx;
}

.code-fun-ml-58 {
  margin-left: 116rpx;
}

.code-fun-mt-58 {
  margin-top: 116rpx;
}

.code-fun-ml-60 {
  margin-left: 120rpx;
}

.code-fun-mt-60 {
  margin-top: 120rpx;
}

.code-fun-ml-62 {
  margin-left: 124rpx;
}

.code-fun-mt-62 {
  margin-top: 124rpx;
}

.code-fun-ml-64 {
  margin-left: 128rpx;
}

.code-fun-mt-64 {
  margin-top: 128rpx;
}

.code-fun-ml-66 {
  margin-left: 132rpx;
}

.code-fun-mt-66 {
  margin-top: 132rpx;
}

.code-fun-ml-68 {
  margin-left: 136rpx;
}

.code-fun-mt-68 {
  margin-top: 136rpx;
}

.code-fun-ml-70 {
  margin-left: 140rpx;
}

.code-fun-mt-70 {
  margin-top: 140rpx;
}

.code-fun-ml-72 {
  margin-left: 144rpx;
}

.code-fun-mt-72 {
  margin-top: 144rpx;
}

.code-fun-ml-74 {
  margin-left: 148rpx;
}

.code-fun-mt-74 {
  margin-top: 148rpx;
}

.code-fun-ml-76 {
  margin-left: 152rpx;
}

.code-fun-mt-76 {
  margin-top: 152rpx;
}

.code-fun-ml-78 {
  margin-left: 156rpx;
}

.code-fun-mt-78 {
  margin-top: 156rpx;
}

.code-fun-ml-80 {
  margin-left: 160rpx;
}

.code-fun-mt-80 {
  margin-top: 160rpx;
}

.code-fun-ml-82 {
  margin-left: 164rpx;
}

.code-fun-mt-82 {
  margin-top: 164rpx;
}

.code-fun-ml-84 {
  margin-left: 168rpx;
}

.code-fun-mt-84 {
  margin-top: 168rpx;
}

.code-fun-ml-86 {
  margin-left: 172rpx;
}

.code-fun-mt-86 {
  margin-top: 172rpx;
}

.code-fun-ml-88 {
  margin-left: 176rpx;
}

.code-fun-mt-88 {
  margin-top: 176rpx;
}

.code-fun-ml-90 {
  margin-left: 180rpx;
}

.code-fun-mt-90 {
  margin-top: 180rpx;
}

.code-fun-ml-92 {
  margin-left: 184rpx;
}

.code-fun-mt-92 {
  margin-top: 184rpx;
}

.code-fun-ml-94 {
  margin-left: 188rpx;
}

.code-fun-mt-94 {
  margin-top: 188rpx;
}

.code-fun-ml-96 {
  margin-left: 192rpx;
}

.code-fun-mt-96 {
  margin-top: 192rpx;
}

.code-fun-ml-98 {
  margin-left: 196rpx;
}

.code-fun-mt-98 {
  margin-top: 196rpx;
}

.code-fun-ml-100 {
  margin-left: 200rpx;
}

.code-fun-mt-100 {
  margin-top: 200rpx;
}
